header .menu {
    animation: none;
    display: none;
}


@keyframes brillar-menu-fondo {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
header nav {
    position: relative;
    width: 100%;
    max-width: 90rem;
    transform: translateX(0%) translateY(30px);
    height: auto;
    pointer-events: all;
    opacity: 1;
    background-color: rgba(22, 1, 55, 1);
    animation-name: brillar-menu-fondo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 10px 1px var(--principal); 
    box-shadow: 0px 0px 10px 1px var(--principal);
}
header .nav-movible {
    position: fixed;
    transform: translateX(-50%) translateY(0px);
    left: 50%;
}


header nav ul {
    flex-direction: row;
    justify-content: space-around;
}
header nav ul li {
    width: max-content;
}
header nav ul li .texto-menu {
    font-size: 2.5rem;
    line-height: 5rem;
    opacity: 1;
    animation-name: brillar-menu-letras;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


main .mis-skills .skills-container,
main .mis-proyectos .proyectos-container {
    grid-template-columns: repeat(3, 1fr);
}