:root {
    --fondo1: #02002B;
    --fondo2: #000;
    --principal: #00E5AE;
    --secundario: #8186F1;
    --tiempo-menu: .5s;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%; /*Esto para que el footer se quede abajo*/
}
body {
    position: relative;
    background: linear-gradient(170.04deg, var(--fondo1) 0%, var(--fondo2) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    min-width: 100%;

    display: flex; /*Esto para que el footer se quede abajo*/
    flex-direction: column; /*Esto para que el footer se quede abajo*/
    min-height: 100%; /*Esto para que el footer se quede abajo*/
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
i::selection,
img::selection,
input::selection,
textarea::selection,
header nav ul li a:active::selection {
    background: var(--principal);
    color: var(--secundario);
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #009472;
}



header, main {
    width: 85%;
    max-width: 82rem;
    margin: 0 auto;
}

header,
main .sobre-mi, 
main .mis-skills, 
main .mis-proyectos, 
main .contactame {
    padding-block: 4rem;
}


main .sobre-mi, 
main .mis-skills, 
main .mis-proyectos, 
main .contactame {
    /* Para animacion de scroll */
    transition: all 1s;
    opacity: 0;
    margin-left: -100%;
}
main .seccionVista {
    /* Para animacion de scroll */
    opacity: 1;
    margin-left: 0%;
}



header nav ul li a,
header .name-container,
main .sobre-mi h3,
main .mis-skills h3,
main .mis-proyectos h3,
main .contactame h3,
main .contactame h4 {
    color: var(--principal);
}

main .sobre-mi h3,
main .mis-skills h3,
main .mis-proyectos h3,
main .contactame h3 {
    font-size: 2.2rem;
}


main .mis-skills .skills-container article div, 
main .mis-proyectos .proyectos-container .article-container .proyecto,
main .contactame form,
main .contactame form input:focus,
main .contactame form textarea:focus,
header .name-container .foto {
    border: .2rem solid var(--principal);
}


.mascara {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(115,115,115,0) 20%, rgba(50,50,50,0) 80%, rgba(0,0,0,1) 100%);
    z-index: 100;
    pointer-events: none;
}

.particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


@keyframes brillar-menu {
    0% {
        opacity: 0.4;
        -webkit-box-shadow: 0px 0px 20px 10px var(--principal); 
        box-shadow: 0px 0px 20px 10px var(--principal);
    }
    100% {
        opacity: 1;
        -webkit-box-shadow: 0px 0px 55px 10px var(--principal); 
        box-shadow: 0px 0px 55px 10px var(--principal);
    }
}
header .menu {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--principal);
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    border: .5rem solid var(--secundario);
    opacity: 1;
    animation-name: brillar-menu;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    transition: all var(--tiempo-menu);
}
header .menu-activo {
    -webkit-box-shadow: 0px 0px 0px 0px var(--principal); 
    box-shadow: 0px 0px 0px 0px var(--principal);
    opacity: .5;
    animation: none;
}



header .name-container {
    text-align: center;
    line-height: 3rem;
}
header .name-container .foto {
    --ancho: 65vw;
    --ancho-maximmo: 25rem;
    display: flex;
    width: var(--ancho);
    height: var(--ancho);
    max-width: var(--ancho-maximmo);
    max-height: var(--ancho-maximmo);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 0px 0px var(--principal); 
    box-shadow: 0px 0px 0px 0px var(--principal);
    transition: all 2s;
}
header .name-container .foto:hover,
header .name-container .foto:focus {
    -webkit-box-shadow: 0px 0px 100px 3px var(--principal); 
    box-shadow: 0px 0px 100px 3px var(--principal);
}
header .name-container .foto img {
    width: 100%;
    object-fit: cover;
}
header .name-container .texto h1 {
    font-size: 3rem;
    margin-bottom: .7rem;
}
header .name-container .texto h2 {
    font-size: 2rem;
    margin-bottom: .7rem;
}



@keyframes brillar-menu-fondo {
    0% {
        background: radial-gradient(circle, rgb(22, 1, 55) 0%, black 60%);
    }
    10% {
        background: radial-gradient(circle, rgb(22, 1, 55) 2%, black 62%);
    }
    20% {
        background: radial-gradient(circle, rgb(22, 1, 55) 4%, black 64%);
    }
    30% {
        background: radial-gradient(circle, rgb(22, 1, 55) 6%, black 66%);
    }
    40% {
        background: radial-gradient(circle, rgb(22, 1, 55) 8%, black 68%);
    }
    50% {
        background: radial-gradient(circle, rgb(22, 1, 55) 10%, black 70%);
    }
    50% {
        background: radial-gradient(circle, rgb(22, 1, 55) 12%, black 72%);
    }
    70% {
        background: radial-gradient(circle, rgb(22, 1, 55) 14%, black 74%);
    }
    80% {
        background: radial-gradient(circle, rgb(22, 1, 55) 16%, black 76%);
    }
    90% {
        background: radial-gradient(circle, rgb(22, 1, 55) 18%, black 78%);
    }
    100% {
        background: radial-gradient(circle, rgb(22, 1, 55) 20%, black 80%);
    }
}
header nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    overflow: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    animation: none;
    transition: all var(--tiempo-menu);
}
header .nav-activo {
    opacity: 1;
    pointer-events: all;
    animation-name: brillar-menu-fondo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

header nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 100%;
}
header nav ul li {
    width: 100%;
    text-align: center;
}

@keyframes brillar-menu-letras {
    0% {
        opacity: 0.7;
        text-shadow: 0px 0px 0px var(--secundario);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 20px var(--secundario);
    }
}
header nav ul li .texto-menu {
    display: block;
    text-decoration: none;
    width: 100%;
    font-size: 0rem;
    line-height: 0rem;
    transition: all var(--tiempo-menu);
    animation: none;
}
header nav ul li .texto-menu-activo {
    font-size: 2.6rem;
    line-height: 5rem;
    animation-name: brillar-menu-letras;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}



main {
    padding-bottom: 50px;
}
main .sobre-mi p {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    color: white;
    line-height: 2rem;
}
main .sobre-mi p i {
    font-weight: 700;
}



main .mis-skills h3 {
    width: max-content;
    margin-inline-start: auto;
}
main .mis-skills .skills-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
    width: max-content;
    margin: 1.5rem auto 0;
}
main .mis-skills .skills-container article {
    display: flex;
    gap: 1rem;
}

@keyframes brillar-barras {
    0% {
        opacity: 0.5;
        -webkit-box-shadow: 0px 0px 0px 0px var(--principal); 
        box-shadow: 0px 0px 0px 0px var(--principal);
    }
    100% {
        opacity: 1;
        -webkit-box-shadow: 0px 0px 10px 1px var(--principal); 
        box-shadow: 0px 0px 10px 1px var(--principal);
    }
}
@keyframes brillar-letras {
    0% {
        opacity: 0.5;
        text-shadow: 0px 0px 0px var(--secundario);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 3px var(--secundario);
    }
}
main .mis-skills .skills-container article h4 {
    display: flex;
    width: 6rem;
    color: var(--secundario);
    font-size: 2rem;
    animation-name: brillar-letras;
}
main .mis-skills .skills-container article .tecnologia {
    justify-content: flex-end;
}
main .mis-skills .skills-container article .porcentaje-skill {
    text-align: start;
}
main .mis-skills .skills-container article div {
    width: 120px;
    height: 2.5rem;
    border-radius: 30rem;
    animation-name: brillar-barras;
}
main .mis-skills .skills-container article h4,
main .mis-skills .skills-container article div {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

main .mis-proyectos h3 {
    margin-bottom: 1.5rem;
}
main .mis-proyectos .proyectos-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 0 auto;
    width: fit-content;
}
main .mis-proyectos .proyectos-container .article-container {
    perspective: 700px;
}
main .mis-proyectos .proyectos-container  .article-container .proyecto {
    position: relative; 
    width: 26rem;
    border-radius: 3rem;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px 0px var(--principal); 
    box-shadow: 0px 0px 0px 0px var(--principal);
}
main .mis-proyectos .proyectos-container  .article-container .proyecto:hover,
main .mis-proyectos .proyectos-container  .article-container .proyecto:focus {
    -webkit-box-shadow: 0px 0px 55px 10px var(--principal); 
    box-shadow: 0px 0px 30px 2px var(--principal);
}
main .mis-proyectos .proyectos-container  .article-container  .proyecto img {
    width: 100%;
    object-fit: cover;
}
main .mis-proyectos .proyectos-container .article-container  .proyecto div {
    display: flex;
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(0, var(--secundario) 50%, rgba(255,255,255,0) 100%);
    top: 60%;
    justify-content: center;
    align-items: center;
}
main .mis-proyectos .proyectos-container .article-container  .proyecto div h4 {
    font-size: 1.8rem;
    margin-top: 3rem;
    color: white;
}




main .contactame {
    text-align: center;
}

@keyframes balanceo-contactame-texto {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-20deg);
    }
    30% {
        transform: rotateZ(20deg);
    }
    40% {
        transform: rotateZ(-10deg);
    }
    45% {
        transform: rotateZ(10deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
main .contactame .contenedor .texto {
    animation-name: balanceo-contactame-texto;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
main .contactame .contenedor .texto h4 {
    margin-top: .8rem;
    font-size: 1.5rem;
}
main .contactame .contenedor form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 31rem;
    padding: 1.3rem;
    margin: 1.5rem auto 0;
    background-color: var(--secundario);
    border-radius: 3rem;
}
main .contactame .contenedor form input {
    height: 3rem;
    border-radius: 3rem;
}
main .contactame .contenedor form input,
main .contactame .contenedor form textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: #009472;
    font-weight: 700;
}
main .contactame .contenedor form input::placeholder,
main .contactame .contenedor form textarea::placeholder {
    color: #32c09f;
    font-weight: 100;
}
main .contactame .contenedor form textarea {
    height: 25rem;
    resize: none;
    border-radius: 2rem;
    font-family: 'Roboto', sans-serif;
}
main .contactame .contenedor form .btn-enviar {
    background-color: #58ffd8;
    border: 0.2rem solid #00795d;
    max-width: 15rem;
    height: 4rem;
    margin: 0 auto;
    color: #00795d;
    font-weight: 700;
}





@keyframes opacidad-canvas {
    0% {
        opacity: .03;
    }
    100% {
        opacity: .3;
    }
}
/* main .mi-canvas canvas {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -1;
    animation-name: opacidad-canvas;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
} */


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--principal);
    text-align: center;
    padding-block: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    height: 25rem;
    margin-top: auto; /*Estp  para que el footer se quede abajo*/
}
footer i {
    display: block;
    margin-top: 1.1rem;
}





@keyframes brillar-div {
    0% {
        opacity: 0.05;
        -webkit-box-shadow: 0px 0px 0px 0px var(--principal); 
        box-shadow: 0px 0px 0px 0px var(--principal);
    }
    100% {
        opacity: 0.5;
        -webkit-box-shadow: 0px 0px 10px 1px var(--secundario); 
        box-shadow: 0px 0px 100px 30px var(--secundario);
    }
}
#fondo-animado div {
    animation-name: brillar-div;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}